<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="Web1Soap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:52159/Web1.asmx" binding="basicHttpBinding"
                bindingConfiguration="Web1Soap" contract="ServiceReference1.Web1Soap"
                name="Web1Soap" />
        </client>
    </system.serviceModel>
</configuration>